@model CalendarViewModel
@using IU.Plan.Web.Models

@{
    ViewBag.Title = "Calendar";

    var dayCounter = 1;
}

@helper PrintEvents(int dayCounter, DateTime lastDayOfPeriod)
{
    if (dayCounter <= Model.LastMomentOfPeriod.Day)
    {
        var currDay = new DateTime(lastDayOfPeriod.Year, lastDayOfPeriod.Month, dayCounter);
        var events = Model.Events.Where(evnt => evnt.StartDateTime.Value.Day == currDay.Day);
        foreach (var evt in events)
        {
            if (evt != null)
            {
                <div>@evt.Title</div>
            }
        }
    }
}

<h2>Calendar</h2>

<ul>
    @foreach (var evt in Model.Events)
    {
        <li>
            @evt
        </li>
    }
</ul>

<div class="table-responsive">

    <table class="table table-bordered">
        <tr>
            <th>понедельник</th>
            <th>вторник</th>
            <th>среда</th>
            <th>четверг</th>
            <th>пятница</th>
            <th>суббота</th>
            <th>воскресенье</th>
        </tr>
        @for (int i = 0; i < Model.RowCount; i++)
        {
            <tr>
                @for (int j = 0; j < Model.ColCount; j++)
                {
                    var tdClass = dayCounter == DateTime.Now.Day ? "bg-info" : "";
                    <td class=@(tdClass)>
                        @((dayCounter <= Model.LastMomentOfPeriod.Day) ? $"{dayCounter++}" : "")
                        @PrintEvents(dayCounter, Model.LastMomentOfPeriod)
                    </td>
                }
            </tr>
        }
    </table>

</div>